
.datatable {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
  }
  
  .datatableTitle {
    background-color: #000000;
    color: white;
  }
  
  .datatableTitle th {
    padding: 10px;
    text-align: left;
  }
  
  .datatable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .datatable tbody tr:hover {
    background-color: #ccc;
  }
  
  .datatable tbody td {
    padding: 10px;
    border: 1px solid #ddd;
  }

  .datatable-container {
    background-color: #25222260; /* Change the color value as desired */
  }
  